html{
	height:100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
}
input[type="number"]{
        -moz-appearance: textfield;
}
body{
	height:100%;
	position:relative;
	line-height: 1.6;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    color: #353535;
    font-size: 14px;
}
.knit-container{
	padding:0px;
	margin:0px;
	display:block;
	position:relative;
	top:0px;
	left:0px;
	height:100%;
	background-color:#F2F2F2;
	min-width:1280px;
	overflow:auto;
}

.theme-blue{
	 background-color:#0175EE;  
	/* background-image: url("../images/header-bg.jpg"); */
}

.knit-top{
	display:block;
	height:60px;
	line-height:60px;
	width:100%;
	/* border-bottom:2px solid #d6d6d6;
	box-shadow:1px 1px 10px #c7c7c7;
	border-top: 2px solid #0175EE; */
}

.knit-top{
	color:#fff;
}

.knit-top a{
	color:#fff;
	text-decoration:none;
}

.knit-topbar{
	position:relative;
	display:block;
	height:100%;
}
.knit-toptitle{
	font-size: 25px;
    display: inline-block;
    margin-left: 10px;
    font-weight: bolder;
}

.knit-toptools{
	position:absolute;
	right:10px;
	top:0px;
	font-size:13px;
	display:table;
}
.top-user-info{
	font-size: 14px;
}
.knit-toptools > .top-tool{
	display:table-cell;
	padding:0px 10px;
}

.knit-topbar ul{
	padding:0px;
	margin:0px;
	position:relative;
	height:100%;
}
.knit-topbar ul li{
	list-style: none;
	display:inline-block;
	border-right:1px solid #eee;
	height:100%;
}
.knit-topbar ul li a{
	display:block;
	text-decoration:none;
	text-align:center;
	width:80px;
	height:100%;
}

.knit-topbar ul li a : hover{
	text-decoration:none;
	background-color:gray;
}

.knit-side{
	display:inline-block;
	position:absolute;
	width:230px;
	top:70px;
	bottom:58px;
	left:10px;
	background-color:#fff;
	border-radius:4px;
	z-index:2;
	overflow:auto;
	border:1px solid #E6E6E6 ;
	/* box-shadow:1px 1px 10px #c7c7c7; */
}

.knit-main{
	display:block;
	position:absolute;
	top:70px;
	left:250px;
	bottom:58px;
	right:10px;
	overflow:auto;
	/* padding:10px; */
	background-color:#fff; 
	background-color:#f2f2f2;
	border-radius:4px;
	/* border:1px solid #d6d6d6 ;
	box-shadow:1px 1px 10px #c7c7c7; */
}
/* .knit-main::-webkit-scrollbar{
	display:none;
} */

.knit-bottom{
	display:block;
	z-index:2;
	position:absolute;
	bottom:0px;
	left:0px;
	padding:4px;
	width:100%;
	background-color:#fff;
	color:#CCCCCC;
	padding-top:15px;
	font-size:13px;
	/* border-top:1px solid #d6d6d6 ;
	box-shadow:1px -1px 10px #c7c7c7; */
}

.knit-icon{
	height:100px;
	text-align:center;
	background-color:#3A3633;
	position:relative;
}

.knit-icon::after{
	display: block;
    height: 6px;
    border-top: 1px solid #191716;
    border-bottom: 1px solid #717070;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0px;
    content: '';
}
.knit-menu{
	position:relative;
	box-sizing:border-box;
}

.knit-menu .glyphicon{
	color:#0175EE ;
}

.knit-menu-subject{
	display: block;
    padding: 10px;
    color: #0175EE;
    font-size: 15px;
    border-bottom: 1px solid #e8e5e5;
    font-weight:bolder;
}

.knit-menu ul{
	padding:0px;
	display:block;
	position:relative;
}
.knit-menu ul li{
	list-style:none;
	position:relative;
	line-height:35px;
}
.knit-menu a {
	color:#222222;
	text-decoration:none;
	height:100%;
	display:block;
	padding-left:10px;
	position:relative;
}


.knit-menu ul li>ul li>a{
	padding-left:40px;
	padding-right:50px;
}
.knit-menu ul li>ul li>a:hover{
	background-color:#fff;
	color:#0175EE;
}

.knit-menu ul li>ul::before{
	position:absolute;
	height:100%;
	display:block;
	width:1px;
	border-left:1px solid #7A7A7A;
	z-index:1;
	top:0px;
	left:20px;
	content:'';
}

.knit-menu ul li>ul{
	border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.knit-menu ul li>ul li{
	background-color:#fff;
}

.knit-active{
	background-color:#0175EE !important;
	color 	: 	#fff !important ;
}

.knit-active .glyphicon{
	color:#fff;
}

.knit-active::before{
	content:'';
	display:block;
	position:absolute;
	bottom:25%;
	right:0px;
	width:0px;
	height:0px;
	border-top:8px solid transparent;
	border-right:8px solid #fff;
	border-bottom:8px solid transparent;
}

.knit-menu ul li>ul>li::before{
	display:block;
	position:absolute;
	width:8px;
	height:1px;
	overflow:hidden;
	border-bottom:1px solid #7A7A7A;
	left:20px;
	top:50%;
	z-index:1;
	content:'';
}

.knit-menu ul li>ul{
	display:none ;
}
.knit-menu-ext{
	display:inline-block;
	position:absolute;
	right:8px;
	top:0px;
}
.knit-dot{
	display: inline;
    border-radius: 4px;
    padding: 1px 3px;
    border: 1px solid #66CD00;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    background-color: #66CD00;
    border: 1px solid #66CD00;
}

.knit-content{
	display:block;
	/* padding:10px; */
	position:relative;
}
.knit-breadcrumb{
	display:block;
	height:35px;
	border-bottom:1px solid #eee;
	margin-bottom:3px;
	padding:2px;
	background-color:#636262 ;
	color:#eaeaea;
	font-size:13px;
	line-height:30px;
}

.knit-widget{
	display:block;
	position:relative;
	background-color:#fff;
	padding:3px;
	border-radius:5px;
	border:1px solid #eee;
	box-shadow:1px 1px 3px #d0d0d0;
}
.knit-widget-title{
	display:block;
	height:35px;
	position:relative;
}
.knit-widget-icon{
	position: relative;
    display: inline-block;
    font-size: 15px;
    color: #676464;
    padding-left: 5px;
    line-height: 35px;
}
.knit-widget-tools{
	position: absolute;
    top: 0px;
    right: 5px;
    display: inline-block;
    line-height: 35px;
}
.knit-widget-body{
	display:block;
	position:relative;
	padding:5px;
	overflow:auto;
}
.nowrap{
	white-space:nowrap;
}

.row{
	margin:2px 0px;
}

/** table **/
.dataTables_length,.dataTables_filter{
	display:none;
}
.table{
	width:100%;
}
table.table th{
	background-color:#f5f5f5;
	background-image: -webkit-linear-gradient(top,#f2f2f2 0,#fafafa 100%);
	font-size:12px;
}
table.table thead th , .dataTable tbody td{
	border-bottom:1px solid #ddd !important;
	font-size:12px;
	vertical-align:middle !important;
}
table.table-bordered{
	border:1px solid #ddd;
}
table.table{
	border-collapse: collapse;
	border-spacing: :0px;
}
table.table-hover tbody td:hover{
	background-color:#f5f5f5 ;
}
.dataTables_paginate,.dataTables_info{
	font-size:13px;
}

.knit-btn{
	cursor:pointer;
}

.knit-pain{
	border-radius:5px;
	background-color:#fff;
	padding:8px;
	border:1px solid #E6E6E6;
	box-shadow:1px 1px 2px #f2f2f2;
}

.knit-fieldset{
	display:block;
	position:relative;
	margin-bottom:10px;
	border:1px solid #eee;
	border-radius:5px;
	box-shadow:1px 1px 3px #eee;
	background-color:#fff;
	padding-bottom:5px;
}

.knit-fieldset legend{
	display:inline-block;
	padding:4px 15px;
	font-size:15px;
	color:#676464;
	border:0px;
	width:auto;
	background-color:#fff;
	border-radius:5px 5px 5px 5px ;
}

.coll-widget{
	margin:5px 5px;
	background-color:#f8f8f8;
	border-radius:5px;
	position:relative;
}
.coll-title{
	padding : 10px;
	display:inline-block;
	width:40%;
	overflow:hidden;
	border-right:1px solid #fff;
	/* background-color:#eee;
	border:1px solid #eee;
	border-radius:3px 0px 0px 3px; */
}
.coll-value{
	padding : 10px;
	display:inline-block;
	width:40%;
	overflow:hidden;
}

.required::before {
	content : '*' ;
	color 	: #a94442 ;
	display:inline-block;
	padding:2px 3px 2px 0px;
	font-weight:bolder;
}

.option-group{
	font-weight:normal;
	display:inline-block;
	margin-right:15px;
	white-space: nowrap;
	cursor:pointer;
}

.knit-info-group{
	display:block;
	padding:5px 0px;
	left:0px;
}
.knit-info{
	display:block;
	color:gray;
	font-size:13px;
}
.knit-error,label.error{
	display:block;
	color:#a94442;
	font-size:13px;
	line-height:20px;
	height:20px;
}
.knit-warning{
	color:#9e5201;
	font-size:13px;
	font-weight:bolder;
}
.knit-img-upload-group{
	display:block;
	padding:5px;
	position:relative;
}
.knit-img-upload{
	display:inline-block;
	margin:2px;
	padding:2px;
	border:1px solid #eee;
	position:relative;
	background-color: #f2f2f2;
	vertical-align:middle;
}

.knit-img-upload-remove{
	display:inline-block;
	background-color:#fff;
	width:15px;
	height:15px;
	text-align:center;
	line-height:15px;
	border-radius:100%;
	position:absolute;
	top:-7px;
	right:-7px;
	cursor:pointer;
}
.knit-img-upload-remove:hover{
	color:red;
}
.knit-img-upload img{
	width:100px;
	height:100px;
	border-radius:5px;
	vertical-align:middle;
}
.knit-img-upload>.upload-btn{
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:5px;
	font-size:13px;
	text-align:center;
	color:gray;
	padding-top:30px;
	font-weight:bolder;
}
.knit-img-upload img:hover{
	opacity:0.8;
}

.knit-upload-label{
	display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 13px;
    color: gray;
    overflow: hidden;
    padding-top: 20px;
}
.knit-upload-label a .knit-upload-label>li{
	color:#0175ee;
	text-decoration:none;
}

.knit-upload-label a:hover {
	text-decoration:none;
	color:red;
}

.knit-form-group{
	display:table;
	width:100%;
	margin-bottom:2px;
	font-size:13px;
}

.knit-form-label{
	display:table-cell;
	vertical-align:middle;
	width:95px;
	white-space:nowrap;
	padding-right:10px;
	overflow:hidden;
}
.knit-form-input{
	display:table-cell;
	vertical-align:middle;
	font-size:13px;
}
.knit-form-input input,select{
	font-size:13px !important;
}

.shorthand{
	white-space:nowrap;
	position:relative;
	width:100%;
	text-align:left;
}
.shorthand-extra{
	position:absolute ;
	top:-5px;
	left:-4px;
	background-color:#fff;
	z-index:9999;
	padding:3px;
	white-space:nowrap;
	border:1px solid #eee;
	box-shadow:2px 2px 3px #ccc;
	white-space: normal;
}

.list-group-item{
	padding:3px 0px;
}
.list-group{
	border: 0px solid red ;
}
.bootstrap-select{
	width:100% !important ;
}

.knit-right-side{
	position:absolute;
	position:fixed;
	width:100px;
	height:auto;
	top:70px;
	right:10px;
}

.knit-block-btn{
	background-color:#fff;
	cursor:pointer;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	width:100px;
	height:100px;
	border-radius:3px;
	box-shadow:1px 1px 5px #aeabab;
}
.knit-block-btn i {
	font-size:25px;
	color:#66CD00;
}

.knit-block-btn : hover{
	box-shadow:1px 1px 8px #aeabab;
}

.knit-lglabel .knit-form-label{
	width:140px !important ;
}
.knit-btn-group{
	white-space:nowrap;
}
.knit-btn-group .btn{
	margin:1px;
}
.input-group{
	margin-bottom:2px;
	width:100%;
}

.input-group-addon{
	padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.input-group-label{
	display:table-cell;
	width:80px;
	vertical-align:middle;
}

/** Replace bootstrap btn **/

.btn{
	/* padding: 4px 8px; */
    border-radius: 1px !important;
}

.btn-group{
	white-space:nowrap;
}

.btn-info , 
.btn-info:link , 
.btn-info:active , 
.btn-info:active:hover ,
.btn-info:visited , 
.btn-info:focus ,
.btn-primary , 
.btn-primary:link , 
.btn-primary:active , 
.btn-primary:active:hover ,
.btn-primary:visited , 
.btn-primary:focus { 
	color: #fff;
    background-color: #0175EE;
    border-color: #0175EE;
}
.btn-info:hover , .btn-primary:hover {
	 background-color: #4dacf6;
	 border-color:#4dacf6;
}


.progress-bar-info{
	background-color:#EE2C2C;
}



/** input **/
.form-control{
	border:1px solid #e6e6e6 ;
	border-radius:2px ;
	-webkit-box-shadow: none;
    box-shadow: none ; 
    -webkit-transition:none; 
    -o-transition: none;
    transition: none; 
}


/** card **/
.knit-card{
	margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.knit-card-header{
	height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-bottom: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}

.knit-card-body{
	padding: 10px 15px;
    line-height: 24px;
    position: relative;
}

/** panel **/
.panel-default{
	border: 1px solid #E6E6E6;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}

.knit-file-list{
	list-style: none;
	padding:0px;
	margin:0px;
	display:inline-block;
}
.knit-file-list>li{
	padding:0px;
	margin:0px;
	display:inline-block;
}

.knit-list{
	list-style:none;
	padding:0px;
	margin:0px;
}
.knit-list>li{
	padding:0px;
	margin:0px;
}

.subimg{
	border:1px solid #eee ;
	border-radius:5px;
	cursor:pointer;
}
.subimg:hover{
	opacity:0.8 ;
}

.modalbg{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.1) ;
	z-index:9999;
	padding-top:5%;
	text-align:center;
}
.modalimg{
	max-width:90% ;
	max-height:90%;
	border: 16px solid #fff ;
    box-shadow: 5px 5px 18px #000000;
}
.div-left{
	color:red;
	width: 300px;
    height: 120px;
    float: right;
    margin-right: -340px;
}

