<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="QuotaMapper">
	<select id="findSchoolQuota" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT quota.* FROM tb_schooltype_collection school_coll
		JOIN tb_collection coll ON school_coll.collection_id = coll.id
		JOIN tb_quota quota ON coll.quota_id = quota.id
		WHERE school_coll.school_type = #{schoolType}
	</select>
	
	<select id="findEduinstQuota" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT quota.* FROM tb_quota quota
		JOIN tb_collection coll ON quota.id = coll.quota_id 
		JOIN tb_eduinst_collection_map instmap ON coll.id = instmap.collection_id AND instmap.report_id = #{reportId}
		WHERE instmap.inst_type = #{instType}
	</select>
</mapper>