<div class="modal fade" id="alert-dialog-modal" data-backdrop='static' tabindex="-1"  role="dialog" aria-labelledby="mAlertModalDialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body" >...</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal" name="alert-dialog-position-btn">
					<i class='glyphicon glyphicon-remove'></i>
					<span></span>
				</button>
			</div>
		</div>
	</div>
</div>